.gallery {
  display: flex;
  flex-direction: column;

  &__media {
    max-width: 40rem;
  }

  @include media-query("md") {
    &__item {
      &:nth-child(even) {
        margin-inline-start: auto;
      }
    }
  }

  @include media-query("lg") {
    &__item {
      $gallery-item-space: get-size("700");
      display: flex;
      align-items: flex-end;

      &:nth-child(odd) {
        flex-direction: row-reverse;
      }

      &:nth-child(odd),
      &:nth-child(even) {
        margin-inline-start: -$gallery-item-space;
      }

      > * {
        margin-inline-start: $gallery-item-space;
      }
    }
  }
}